


/*****************************************/
/*                                       */
/* CHANGE IMAGE LINKS TO BLACK           */
/*                                       */
/*Contact us body font to Haettenschweile*/
/*                                       */
/*                                       */
/*****************************************/
body{
    font-family: Haettenschweile;
    background: white;
}

/*************************/
div {
    padding: 5px;
}

/***  Navigation  Bar  ***/
.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: black;
}

.navbar a{
    float: left;
    color: white;
    text-align:start;
    margin: 5px 4px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
}

.navbar .btn {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.navbar a.split {
    float: right;
}

.nav a.left{
    float: left;
}

.navbar i {
    padding: 1px 1px;
}


.navbar form {
    padding: 7px 15px;
}

/*****   Carousel   *****/
#carouselExampleInterval img{
    display: block;
    width: 685px;
    margin-right: auto;
    margin-left: auto;
}
/* Style the button and place it in the middle of the container/image */
.img-overlay .btn {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .img-overlay .btn:hover {
    background-color: black;
  }


/*****   Heading   *****/
.Heading {
    text-align: center;
    color: black;
    font-family: onyx;
}

.gallery h3 {
    text-align: center;
    color: black;
}

/*******   Card   *******/
.card:hover {
    opacity: .7;
}

.card {
    background-color: white;
    color: darkgrey;
    border: 0;
}

.FOOT {
    color: darkgrey;
}

.FOOT a{
    color: darkgrey;
}

.FOOT .nav-link {
    color: darkgrey;
}

.FOOT .btn {
    color: white;
    background: #000;
}
/*************************/


/*********************************       CONTACT US HTML DOC       **************************************/

.contact_Form {
    color: white;

}