


/*****************************************/
/*                                       */
/* CHANGE IMAGE LINKS TO #000           */
/*                                       */
/*Contact us body font to Haettenschweile*/
/*                                       */
/*                                       */
/*****************************************/

/*   body   */
body{
    font-family: Haettenschweile;
    background: #FFF;
}

body p {
    color: #000;
}

body .btn {
    border-color: #FFF;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

body .btn:hover {
    border-color: #000;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}


/*************************/
div {
    padding: 5px;
}

/***  Navigation  Bar  ***/
.navbar {
    background-color: #000;
    overflow: hidden;
}

.navbar ul{
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: #000;
}

.navbar a{
    float: left;
    color: #FFF;
    text-align:start;
    margin: 5px 4px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: #000;
    color: #FFF;
}

.navbar .btn {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

.navbar i {
    padding: 1px 1px;
}



/*****   Carousel   *****/
#carouselExampleInterval img{
    display: block;
    width: 685px;
    margin-right: auto;
    margin-left: auto;
}
/* Style the button and place it in the middle of the container/image */
.img-overlay .btn {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .img-overlay .btn:hover {
    background-color: #FFF;
    color: #000;
  }


/*****   Heading   *****/
.Heading {
    font-family: onyx;
    text-align: center;
    color: #000;
}

.Heading .btn{
    border-color: #000;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}

.Heading .btn:hover {
    border-color: #FFF;
    border-color: #FFF;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

.gallery h3 {
    text-align: center;
    color: #000;
}

/*******   Card   *******/
.card {
    background-color: #FFF;
    color: darkgrey;
    border: 0;
}

.card .card-img-top:hover {
    opacity: .7;
}

.card .card-link {
    text-align: center;
    color: #000;
}


.FOOT {
    color: darkgrey;
}

.FOOT a{
    color: darkgrey;
}

.FOOT .nav-link {
    color: darkgrey;
}

.FOOT .btn {
    color: #FFF;
    background: #000;
}
/*************************/


/*********************************       CONTACT US HTML DOC       **************************************/

.contact_Form {
    color: #FFF;

}